.icon {
    stroke: $alt-colour;
    fill: $alt-colour;

    &_play {
        width: 50px;
        height: 42px; 
        background-color: $white;
        border-radius: 0 50%;
        padding: 10px;
    }
}