.session {
    background-color: $primary-colour;
    margin: 0 auto;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: -1px;
    @include transition(all 0.15s ease-in);
    position: relative;
    display: none;

    &.st-active {
        display: block;
    }

    &.st-gameover {
        background-color: $black;
    }

    &_result {
        display: none;
        padding: 20px;

        .st-gameover & {
            display: block;
        }

        &-winner {
            margin-top: 10px;
            font-size: 32px;
            font-style: italic;
            font-weight: bold;
            color: $white;
            text-align: center;
            letter-spacing: -1px;
        }
        &-description {
            margin-bottom: 10px;
            font-size: 14px;
            color: $alt-colour;
            text-align: center;
        }
        &-moves {
            text-align: center;
            .icon_play {
                margin: 5px;

                &.st-winner {
                    background-color: $alt-colour;
                    stroke: $white;
                    fill: $white;
                    @include transform(scale(1.3));
                }
            }
        }
    }

    &_options {
        text-align: center;
        padding: 20px;

        &-button {
            border: 0;
            font-size: 13px;
            font-weight: bold;
            padding: 12px 40px;
            color: $white;
            background-color: $primary-colour;
            margin-left: 5px;
            margin-right: 5px;
            @include transition(background-color 0.15s linear);
            cursor: pointer;

            &:hover {
                background-color: $white;
                color: $black;
            }
        }
    }
}