$bg: #f4f4f4;

$white: #fff;

$primary-colour: #232323;
$alt-colour: #F62459;
$border-colour: #e4e4e4;
$border-colour-dark: #3C3C3C;
$black: #000;



/*$blue: #4281A4;
$red: #FE938C;
$light-blue: #9CAFB7;
$yellow: #EAD2AC;
$white: #fff;*/


