/*
    Contains colours used throughout.
*/
$bg: #f4f4f4;
$white: #fff;
$primary-colour: #232323;
$alt-colour: #F62459;
$border-colour: #e4e4e4;
$border-colour-dark: #3C3C3C;
$black: #000;
$header-bg: rgb(0, 100, 210);
$panel-bg: rgba(74, 74, 74, 0.9);